name: test-fake-addon-example-from-github-pip-nightly

on:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        blender-version: ["2.92", "2.91", "2.90", "2.83", "2.82", "2.81", "2.80",]
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      BLENDER_CACHE: ${{ github.workspace }}/.blender_releases_cache # The place where blender releases are downloaded
      BLENDER_VERSION: ${{ matrix.blender-version }}

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Cache Blender release download
      uses: actions/cache@v1
      with:
        path: ${{ env.BLENDER_CACHE }}
        key: ${{ matrix.os }}-blender-${{ matrix.blender-version }}
    - name: Fix blender 2.7* for Linux, by apt-getting prepackaged blender with proper dependencies 
      if: matrix.os == 'ubuntu-latest' && startsWith(matrix.blender-version, '2.7')
      run: |
        sudo add-apt-repository ppa:thomas-schiex/blender-legacy
        sudo apt-get update
        sudo apt-get install blender
    - name: Setup Environment
      run: |
        # This testing script will make use of BLENDER_VERSION and BLENDER_CACHE
        cd examples/testing-fake-addon/
        pip install -r requirements.txt
    - name: Download and Test Blender ${{ matrix.blender-version }} x ${{ matrix.os}}
      run: |
        cd examples/testing-fake-addon/
        pwd
        python test_addon_blender.py fake_addon ${{ matrix.blender-version }}
    - name: Test Blender ${{ matrix.blender-version }} x ${{ matrix.os}} Advanced
      run: |
        cd examples/testing-fake-addon/
        python test_addon_blender_advanced.py fake_addon ${{ matrix.blender-version }}
    - name: Test Blender ${{ matrix.blender-version }} x ${{ matrix.os}} Prezipped Addon
      run: |
        cd examples/testing-fake-addon/
        python test_addon_blender_prezipped_addon.py fake_addon ${{ matrix.blender-version }}
    - name: Test Blender ${{ matrix.blender-version }} x ${{ matrix.os}} built in addon
      run: |
        cd examples/testing-io_scene_obj/
        pwd
        python test_addon_blender.py io_scene_obj ${{ matrix.blender-version }}
    - name: Expose coverage as a CI download # Related to test_addon_blender_advanced.py
      uses: actions/upload-artifact@v1
      with:
        name: coverage.xml
        path: examples/testing-fake-addon/coverage.xml
